@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/variable" as *;
.hero-section {
  background-color: rgba($secondary, 0.2);
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
.hero-img-box {
  img {
    object-fit: cover;
    object-position: top;
    height: 100vh;
    width: 100%;
    @include media-breakpoint-down(sm) {
      height: 60vh;
    }
  }
}
